{% extends "base.html.twig" %}
{% block title %}Tous les artistes - {{ parent() }}{% endblock %}
{% block body %}
<h1>Tous les artistes ({{ artists | length }})</h1>
{% if artistPageViews > 0 %}
<small>Pages artistes vues au cours de la session : <strong>{{ artistPageViews }}</strong></small>
{% endif %}

<h4>Numéros magiques :</h4>
<pre>{{  magicNumbers }}</pre>

<hr>
{% for artist in artists %}
<div class="row">
    <div class="col-md-3">
        <img src="http://lorempixel.com/65/65/abstract/{{ loop.index }}">
    </div>
    <div class="col-md-8">
        <h2>{{ artist.name }}</h2>
        {% if artist.creation_year is defined %}
        <small>Créé en <strong>{{ artist.creation_year }}</strong></small>
        {% endif %}
    </div>
    <div class="col-md-1">
        <a class="btn btn-primary" href="{{ path('app_artist_show', {id: artist.id}) }}">Voir</a>
    </div>
</div>
<hr>
{% endfor %}
{% endblock %}