{% extends "base.html.twig" %}
{% block title %}{{ artist.name | title }} - {{ parent() }}{% endblock %}
{% block body %}
<div class="row">
    <div class="col-md-3">
        <img src="http://lorempixel.com/200/100/abstract/Logo-du-groupe/" alt="Logo du groupe" title="Logo">
    </div>
    <div class="col-md-7">
        <h1>{{ artist.name | title | strrev }}</h1>
        {% if artist.creationYear is not empty %}
        <small>Groupe formé en <strong>{{ artist.creationYear }}</strong></small>
        {% endif %}
    </div>
    <div class="col-md-2">
        <a class="btn btn-primary" href="{{ path('app_artist_index') }}">Retour aux artistes</a>
    </div>
</div>
<h2>Albums ({{ artist.albums.count }}) :</h2>
{% for album in artist.albums %}
<div class="row">
    <div class="col-md-4">
        <img src="http://lorempixel.com/200/200/sports/{{ loop.index }}">
    </div>
    <div class="col-md-7">
        <h2>{{ album.title }}</h2>
    </div>
    <div class="col-md-1">
        <a href="{{ path('app_album_show', {'id': album.id}) }}" class="btn btn-primary">Voir</a>
    </div>
</div>
{% endfor %}
{% endblock %}
