{% extends "base.html.twig" %}
{% block title %}{{ artist.name | title }} - {{ parent() }}{% endblock %}
{% block body %}
<div class="row">
    <div class="col-md-3">
        <img src="http://lorempixel.com/200/100/abstract/Logo-du-groupe/" alt="Logo du groupe" title="Logo">
    </div>
    <div class="col-md-7">
        <h1>{{ artist.name | title | strrev }}</h1>
        {% if artist.creation_year is not empty %}
        <small>Groupe formé en <strong>{{ artist.creation_year }}</strong></small>
        {% endif %}
    </div>
    <div class="col-md-2">
        <a class="btn btn-primary" href="{{ path('app_artist_index') }}">Retour aux artistes</a>
    </div>
</div>
{% endblock %}
